:root {
  --background: #ffffff;
  --foreground: #171717;
  --switch-icon: #666666;
  --checked-switch: #171717;
  --checked-switch-bg: #ebebeb;
  --reset-icon: #adadad;
  --focused-word-bg: #e7e7e7;
  --correct-word: #009900;
  --incomplete-correct-word: #00e600;
  --incorrect-word: #ff0000;
  --incomplete-incorrect-word: #ff9999;
  --container-borders: 1rem solid #ebebeb;
  --tool-panel-borders: 1rem solid #dbdbdb;
  --scrollbar: #666666 #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --switch-icon: #a1a1a1;
    --checked-switch: #eeeeee;
    --checked-switch-bg: #454545;
    --reset-icon: #808080;
    --focused-word-bg: #282828;
    --correct-word: #009900;
    --incomplete-correct-word: #006600;
    --incorrect-word: #cc0000;
    --incomplete-incorrect-word: #990000;
    --container-borders: 1rem solid #454545;
    --tool-panel-borders: 1rem solid #454545;
    --scrollbar: #a1a1a1 #0a0a0a;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light dark;
  font-size: 6.25%;
  height: 100%;
  scrollbar-color: var(--scrollbar);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --switch-icon: #666666;
  --checked-switch: #171717;
  --checked-switch-bg: #ebebeb;
  --reset-icon: #adadad;
  --focused-word-bg: #e7e7e7;
  --correct-word: #009900;
  --incomplete-correct-word: #00e600;
  --incorrect-word: #ff0000;
  --incomplete-incorrect-word: #ff9999;
  --container-borders: 1rem solid #ebebeb;
  --tool-panel-borders: 1rem solid #dbdbdb;
  --scrollbar: #666666 #ffffff;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --switch-icon: #a1a1a1;
  --checked-switch: #eeeeee;
  --checked-switch-bg: #454545;
  --reset-icon: #808080;
  --focused-word-bg: #282828;
  --correct-word: #009900;
  --incomplete-correct-word: #006600;
  --incorrect-word: #cc0000;
  --incomplete-incorrect-word: #990000;
  --container-borders: 1rem solid #454545;
  --tool-panel-borders: 1rem solid #454545;
  --scrollbar: #a1a1a1 #0a0a0a;
}

.blue {
  --background: #2251dd;
  --foreground: #e9eefc;
  --switch-icon: #7b97ea;
  --checked-switch: #ffffff;
  --checked-switch-bg: #4f74e3;
  --reset-icon: #6585e7;
  --focused-word-bg: #1c41b0;
  --correct-word: #00e600;
  --incomplete-correct-word: #00b300;
  --incorrect-word: #ff8080;
  --incomplete-incorrect-word: #ff4d4d;
  --container-borders: 1rem solid #4f74e3;
  --tool-panel-borders: 1rem solid #3862e0;
  --scrollbar: #7b97ea #2251dd;
}

.green {
  --background: #445f08;
  --foreground: #edf2F4;
  --switch-icon: #75a40e;
  --checked-switch: #f6fde8;
  --checked-switch-bg: #53750a;
  --reset-icon: #53750a;
  --focused-word-bg: #324606;
  --correct-word: #00cc00;
  --incomplete-correct-word: #009900;
  --incorrect-word: #ff6666;
  --incomplete-incorrect-word: #ff3333;
  --container-borders: 1rem solid #53750a;
  --tool-panel-borders: 1rem solid #53750a;
  --scrollbar: #75a40e #445f08;
}
