.word {
  height: 33rem;
  padding: 5rem;
  font-size: 20rem;
  color: var(--foreground);
}

.in-line {
  background-color: rgba(0, 0, 0, 0);
}

.focused {
  background-color: var(--focused-word-background);
}

.word.success {
  color: var(--correct-word);
}

.word.inc-suc {
  color: var(--partially-correct-word);
}

.word.failure {
  color: var(--incorrect-word);
}

.word.inc-fai {
  color: var(--partially-incorrect-word);
}

.word.no-disp {
  display: none;
}
